@model IEnumerable<ConfigResponseDto>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(m => m.Description)
			</th>
			<th>
				@Html.DisplayNameFor(m => m.Value)
			</th>
			<th>
				<a onclick="showInPopup('@Url.Action("AddOrEdit", "Configs", new {Id = Guid.Empty}, Context.Request.Scheme)','New Configuration')"
				   class="btn btn-success text-white">
					<i class="fa-solid fa-plus"></i> New
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(m => item.Description)
				</td>
				<td>
					@Html.DisplayFor(m => item.Value)
				</td>
				<td>
					<a onclick="showInPopup('@Url.Action("AddOrEdit","Configs",new {Id=item.Id},Context.Request.Scheme)', 'Update Configuration')"
					   class="btn btn-info text-white">
						<i class="fa-solid fa-pencil"></i> Edit
					</a>
@*					<form asp-action="Delete" asp-route-id="@item.Id" class="d-inline"
		   onclick="return jQueryAjaxDelete(this);">
						<input type="submit" value="Delete" class="btn btn-danger" />
					</form>*@
				</td>
			</tr>
		}
	</tbody>
</table>